.benefit {
    .icon {
        font-size: 6rem;
    }
}

@include media-breakpoint-down (xs) {
    .benefit {
        .icon {
            font-size: 4rem;
        }

        h3 {
            font-size: 1.25rem;
        }
    }
}