.home-products {
    .nav-pills {
        .nav-link {
            color: #202020;
            padding: 0.3rem 0.8rem;
            &.active {
                color: white;
                background-color: $yellow;
            }
        }
    }

    .card {
        z-index: 9;
        
        .card-product-main {
            position: relative;
            
            .bg-overlay-2 {
                background-color: rgba(35, 114, 183, 0.9);
                // display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: .5s ease-in-out;
            }

            &:hover {
                .bg-overlay-2 {
                    // display: block;
                    height: 100%;
                }
            }
        }

        a {
            z-index: 8;
        }
        
        // &.shadow {
        //     box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.7) !important;
        //     // box-shadow: 7px 3px 8px -1px rgba(0,0,0,0.5) !important;
        // }

        .image {
            height: 257.84px;
            // width: 270px;
            img {
                max-height: 100%;
                // width: auto;
            }
        }

        .btn-cart {
            z-index: 10;
        }
    }
}