.types-header {
    .title-box {
        position: relative;
        z-index: 10;

        .line {
            border-top: 2px solid rgba(0, 0, 0, 1);
            position: absolute;
            top: 22%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 140%;
            z-index: -1;
        }

        .title {
            z-index: 10;
        }
    }
}

.types {
    .types-overlay {
        position: relative;

        .bg-overlay {
            position: absolute;
            left: 0;
            top: 0;
            
            .bottom-left {
                position: absolute;
                bottom: 8px;
                left: 16px;
            }
        }
    }
}


@include media-breakpoint-only (xs) {
    .types-header {
        h1 {
            font-size: 1.5rem;
        }
    }
}