.footer {
    background-color: #F5F5F5;

    a {
        color: #444444;
        &:hover {
            color: #b8b8b8;
        }
    }

    .logo {
        // height: 81px;
        width: 220px;
    }

    hr {
        background-color: #F5F5F5;
        margin: 0;
    }

    &.shadow {
        box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15) !important;
    }
}
