.card-product {
    .image {
        // height: 10rem;
        // width: 10rem;

        .card-img-top {
            max-height: 100%;
            max-width: 100%;
            width: unset;
        }
    }
    
    .card-product-main {
        position: relative;
        
        .bg-overlay-2 {
            background-color: rgba(35, 114, 183, 0.9);
            // display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease-in-out;
        }

        &:hover {
            .bg-overlay-2 {
                // display: block;
                height: 100%;
            }
        }
    }

    a {
        z-index: 8;
    }
    
    &.shadow {
        box-shadow: 0px 3px 9px -4px rgba(0, 0, 0, 0.6) !important;
        // box-shadow: 7px 3px 8px -1px rgba(0,0,0,0.5) !important;
    }
}

// Home News Card
.home-news {
    .card {
        &:hover {
            .img-news {
                opacity: 0.7;
            }
            // box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
        }

        .time {
            font-size: 0.9375rem;
        }
    }
    
    .card-text {
        overflow: hidden;
        height: 5rem;
    }
}

//Product page card
.product {
    .card-product {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }

    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}

// Product Categories page card
.product-categories {
    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}

// Category (news) card
.news {
    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}

// Content card
.content {
    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}


@include media-breakpoint-up (xl) {
    .card-product {
        .image {
            height: 245.5px;
            width: 245.5px;
        }
    }
}

@include media-breakpoint-only (lg) {
    .card-product {
        .image {
            height: 277.98px;
            width: 277.98px;
        }
    }
}

@include media-breakpoint-only (md) {
    .card-product {
        .image {
            height: 313px;
            width: 297px;
        }
    }
}

@include media-breakpoint-only (sm) {
    .card-product {
        .image {
            height: 300.5px;
            width: 350.5px;
        }
    }
    
    .product-new {
        .card-product {
        .image {
                height: 220.5px;
                width: 300.5px;
            }
        }
    }
}

@include media-breakpoint-down (xs) {
    .card-product {
        .image {
            height: 230.5px;
            width: 300.5px;
        }
    }

    .product-new {
        .card-product {
            .image {
                height: 200.5px;
                width: 300.5px;
            }

            .card-body {
                padding: 0.75rem !important;
            }
        }
    }
}

