.carousel {
    .card:hover {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }

    .flickity-button {
        background: #D1D1D1;
        color: #424242;
    }

    // .flickity-slider {
    //     display: flex;
    //     align-items: center;
    // }
    
    .flickity-prev-next-button {
        background-color: $text-muted;
        top: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: translateY(-50%);

        .flickity-button-icon {
            position: absolute;
            color: black;
            left: 30%;
            top: 20%;
            width: 40%;
            height: 60%;
        }

        // &.previous {
        //     left: -45px;
        // }

        // &.next {
        //     right: -45px;
        // }
    }
}

.flickity-resize .carousel-cell {
    display: flex;
    min-height: 100%;
}

// SLIDESHOW HOMEPAGE


@include media-breakpoint-up (lg) {
    .section-slide {
        .carousel-inner {
            height: 100%;
            width: 100%;
            .carousel-item {
                text-align: center;
                .parent {
                    height: 73vh;
                }

                img {
                    height: 73vh
                    // object-fit: cover;
                    // display: block;
                    // margin: auto;
                }
            }
        }
    }
}

@include media-breakpoint-only (md) {
    .section-slide {
        .carousel-inner {
            height: 100%;
            width: 100%;
            .carousel-item {
                text-align: center;
                .parent {
                    height: 50vh;
                    // height: 350px;
                }

                img {
                    height: 50vh;
                    // height: 350px;
                }
            }
        }
    }
}

@include media-breakpoint-down (sm) {
    .section-slide {
        .carousel-inner {
            height: 100%;
            width: 100%;
            .carousel-item {
                text-align: center;
                .parent {
                    height: 30vh;
                    // height: 190px;
                    // min-height: 250px;
                }

                img {
                    height: 30vh;
                    // height: 190px;
                    // min-height: 350px;
                }
            }
        }
    }
}
