.title-section {
    border-bottom: 3px solid;
    
    &-text {
        font-size: 1.25rem;
        height: 2.5rem;
        padding: 0.4rem 1rem 0.4rem 1rem;
        z-index: 1;
    }

    // &-shape {
    //     border-width: 40px 0 0 32px;
    //     border-color: transparent transparent transparent $blue;
    //     border-style: solid;
    //     z-index: 0;
    // }
}